@import '../../scss/variables';

.events {
  &__main {
    
  }
  &__date {
    color: $blue;
    font-size: 18px;
    font-weight: 700;
  }
  &__list {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
  }
 
}